.yt-loader {
  // -webkit-animation-name: horizontalProgressBar;
  // animation-name: horizontalProgressBar;
  /* -webkit-animation-timing-function: ease; */
  animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45);//ease;
  /* animation-timing-function: steps(2, start); */
  animation-fill-mode: both;
  /* animation: f1 4s steps(2, end); */
  background: #ef534e;
  height: 3px;
  left: 0;
  top: 0;
  width: 0%;
  z-index: 9999;
  position: fixed;
}

.yt-loader:after {
  display: block;
  position: absolute;
  content: '';
  right: 0px;
  width: 100px;
  height: 100%;
  /* box-shadow: #ef534e 1px 0 6px 1px; */
  opacity: 0.5;
}
